(file-types:is)=
# finance

In [1]:
import pandas as pd

In [2]:
#df = pd.read_csv('./data/2016_FS.txt', sep = "\t", engine='python', encoding='cp949')

In [3]:
import pymysql
from sqlalchemy import create_engine, text
# conn = pymysql.connect(host='localhost',
#                              user='admin',
#                              password='admin1234',
#                              db='STOCKDB',
#                              charset='utf8')

engine = create_engine('mysql+pymysql://admin:admin1234@localhost/STOCKDB')
connn = engine.connect()
# curs = conn.cursor()

In [4]:
# df.to_sql(name='fs1', con=engine, if_exists='append', index=False)

In [5]:
sql = "select * from pb_fs"
result = pd.read_sql(sql, engine)
# with engine.connect() as conn:
#     result = conn.execute(text(sql)).fetchall()

In [6]:
result.columns

Index(['basDt', 'crno', 'bizYear', 'fnclDcd', 'fnclDcdNm', 'enpSaleAmt',
       'enpBzopPft', 'iclsPalClcAmt', 'enpCrtmNpf', 'enpTastAmt', 'enpTdbtAmt',
       'enpTcptAmt', 'enpCptlAmt', 'fnclDebtRto', 'curCd'],
      dtype='object')

In [7]:
result.head()

,basDt,crno,bizYear,fnclDcd,fnclDcdNm,enpSaleAmt,enpBzopPft,iclsPalClcAmt,enpCrtmNpf,enpTastAmt,enpTdbtAmt,enpTcptAmt,enpCptlAmt,fnclDebtRto,curCd
0,20221231,1101110043870,2022,ifrs_ConsolidatedMember,연결요약재무제표,340426327300,29915077882,23085548187,21591210925,461136459052,82463208091,378673250961,27931470000,21.7768769993,KRW
1,20221231,1601110007032,2022,ifrs_ConsolidatedMember,연결요약재무제표,117058740510,-6234392973,-19007690242,-13001279643,149185245583,109161230426,40024015157,48069232500,272.7393291198,KRW
2,20221231,1101110013287,2022,ifrs_ConsolidatedMember,연결요약재무제표,389227582838,31895306272,1648315655,4415249761,1248318313535,493309854178,755008459357,13707635000,65.3383214538,KRW
3,20221231,1101110026181,2022,ifrs_ConsolidatedMember,연결요약재무제표,3316778000000,132324000000,126664000000,105849000000,4547781000000,2024270000000,2523511000000,44342000000,80.2164127678,KRW
4,20221231,1101110028591,2022,ifrs_ConsolidatedMember,연결요약재무제표,2497554821448,190571249139,121380678145,86816258840,3333438311387,2172409936540,1161028374847,368842230000,187.1108392873,KRW